.servicos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.servicos-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.servicos-container p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
}